body {
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: orange;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	
	height: 3%;
	font-size: 3vw;
	
}
.navbar-brand p span {
	vertical-align: middle;
}
#nav-list {
	margin-top: 10px;
	background-color: yellow;
	text-align: center;
}
#nav-list a:hover {
	background-color: grey;
}
.navbar-collapse {
	width: 100%;
}
div.col-xs-12 section {
	background-color: #A4A4A4
}
h1.text-center {
	text-decoration: none;
}
div.col-xs-12 section {
	padding: 0;
	margin: auto;
}
#main-content {
	background-color: #A9BCF5
}
body {
	background-color: #F6E3CE
}
