body {
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: #BDBDBD;
	border-radius: 0;
	border: 0;
}

div.navbar-brand {
	height: 3%;
	font-size: 3vw;
	}
.navbar-brand p span {
	vertical-align: middle;
}
#nav-list {
	margin-top: 10px;
	background-color: #F3F781;
	text-align: center;
}
#nav-list a:hover {
	background-color: grey;
}
.navbar-collapse {
	width: 100%;
}
div.col-xs-12 section {
	background-color: #A9BCF5;
}
h1.text-center {
	text-decoration: none;
}
div.col-xs-12 section {
	padding: 0;
	margin: auto;
}
#main-content {
	background-color: ##F5F6CE;
}
body {
	background-color: #F5F6CE;
}
h1:hover {
	text-decoration: none;
}
@media (max-width: 767px) {
    div.col-xs-12 section {
        margin: 0 10% 0;
    }
}